<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
        <!-- Bootstrap CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
        />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Leaftlet map  -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

        <!-- Styles for home -->
        <link rel="stylesheet" href="./home.css">

        <!-- Script for header and footer -->
        <script>
            $(function(){
                $("#header").load("/layouts/header.html"); 
                $("#footer").load("/layouts/footer.html"); 
            });
        </script>
</head>
<body>
    <div id="header"></div>

        <div class="container">
            <main class="py-5">
                <!-- This section is gonna redirect 
                  to the second page (flight page) once 
                  the user clicks on the search button a
                  ccordin with its flight number or route provided -->
                <section class="search-section">
                  <!-- Hero content -->
                  <div class="jumbotron text-center position-relative style="margin-top: 50px;">
                    <div class="d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 end-0 bottom-0">         
                    </div>            
                    <h1 class="fw-bold text-start display-5" style="color: #4cacff !important; font-weight: 10;">Airhub
                        Weather </h1>
                    <p class="text-start mt-3" style="color: #6c757d;">Use Airhub Advanced API to track the weather of any city in the world!</p>
                  
                  
                  <div class="d-flex justify-content-start">
                    <button class="btn btn-md btn-outline-warning cursor-pointer"  text-dark type="button" onclick="window.location.href='/views/flights/flights.html'" style="margin-top: 20px;">By City</button>
                    <button class="btn btn-md btn-outline-warning cursor-pointer" text-dark type="button" onclick="window.location.href='#'" style="margin-top: 20px; margin-left: -5px; background-color: #f5e1a7;">By Airport Name</button>
                </div>
                
                
                  
                  <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info" type="submit">Search</button>
                  </form>
                </section>

                <section>
                    <div class="container">
                        <h2 class="text-center mt-5 mb-3" style="color: #4cacff;">Weather Conditions in New York City</h2>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Temperature (&deg;C)</th>
                                    <th>Feels Like (&deg;C)</th>
                                    <th>Humidity (%)</th>
                                    <th>Wind Speed (km/h)</th>
                                    <th>Wind Direction</th>
                                    <th>Pressure (hPa)</th>
                                    <th>Visibility (km)</th>
                                    <th>UV Index</th>
                                    <th>Precipitation (mm)</th>
                                    <th>Weather Condition</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2024-02-06</td>
                                    <td>12:00 PM</td>
                                    <td>2</td>
                                    <td>-1</td>
                                    <td>70</td>
                                    <td>15</td>
                                    <td>North</td>
                                    <td>1015</td>
                                    <td>10</td>
                                    <td>2</td>
                                    <td>0.0</td>
                                    <td>Sunny</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </section>

                
              
                <!-- Real-time Worldwide Flight Traffic -->
                <section class="intro-paragraph">
                  <div>
                      <br>
                      <h4>
                        Real time Worldwide 
                        <medium class="text-muted">Flight Traffic</medium>
                      </h4>
                      
                      <p class="test">
                        Explore the skies around you or anywhere in the world using our live flight tracking map. 
                        Click on any aircraft or airport for a more detailed view, and use the layer icon in the top
                        right corner to add weather layers and more.
                      </p>
                  </div>
                </section>
          
                <!-- Flight Radar map -->
                <div id="map"></div>
          
                
                <!-- Airport arrivals section: exhibition porpouses -->
                    <section class="airport-arrivals  mb-5">
                      <div>
                        <br>
                        <h2>Airpot Time Arrivals</h2>
                        <p>Stay updated on your airport timetable
                          schedule with our easy-to-use tracking 
                          feature! Never miss a flight again by 
                          keeping tabs on your airport timetable
                          schedule. With our real-time updates,
                          you'll always be in the know! </p>
                      </div>
                      <div class="search-form">
                        <div class="row g-3">
                          <div class="col-md-3">
                            <label for="departure-airport" class="form-label">Departure Airport (IATA code):</label>
                            <input type="text" id="departure-airport" name="departure-airport" class="form-control" placeholder="e.g., YYZ" required>
                          </div>
                          <div class="col-md-3">
                            <label for="arrival-airport" class="form-label">Arrival Airport (IATA code):</label>
                            <input type="text" id="arrival-airport" name="arrival-airport" class="form-control" placeholder="e.g., JFK" required>
                          </div>
                          <div class="col-lg-3" >
                            <label for="arrival-date" class="form-label">Arrival Date:</label>
                            <input type="date" id="arrival-date" name="arrival-date" class="form-control" required>
                          </div>
                          <div class="col-md-3 align-self-end">
                            <button id="find-flights" class="btn btn-primary w-100" onclick="handleFindFlights()">Find Flights</button>
                          </div>
                        </div>
                      </div>
                    </section>
          
                    <!-- Table for displaying flight arrival details -->
                    <div id="flight-details" style="display: none;" class="mb-5">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Flight Number</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                          </tr>
                        </thead>
                        <tbody id="flight-details-body" >
          
                          <!-- Flight details rows will be dynamically added here -->
                        </tbody>
                      </table>
                    </div>
          
                    <section class="weather-info mt-4">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-6">
                                  <h2>Stay Updated on Weather Conditions</h2>
                                  <p>Plan your journey with confidence knowing you have access to up-to-date weather information at your fingertips. From sunny skies to stormy conditions, we've got you covered every step of the way!</p>
                              </div>
                              <div class="col-md-6">
                                  <div class="d-flex justify-content-center align-items-center">
                                      <img src="/assets/weather.png" 
                                           alt="weather icons"
                                           class="img-fluid"
                                           width="70%"
                                           height="50%">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
              </main>
        </div>
        
    <div id="footer"></div>
</body>


<script type="module" src="/API/fetchFlightData.js"></script>
<script type="module" src="/API/leaflet.js"></script>

<!-- AFTER DomContent is loaded, display the data of the flights in the map -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      fetchData();
  });
</script>

<script src="/API/flightSchdule.js"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"
></script>
</html>
