.image-with-text {
    margin-bottom: 20px;
    text-align: center; 
}

.search-button {
    background-color: #007bff;
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
    transition: all 0.3s ease; 
  }
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .images img {
    width: 300px;
    height: 225px; 
    height: auto; 
    margin-right: 20px;
  }
  
  .label {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 12px;
  }

  
  .image-slider {
    overflow-x: auto; 
  }
  
  .images {
    display: flex; 
  }
  
  .image-container {
    margin-right: 10px; 
    width: 300px; 
    height: 225px; 
    object-fit: cover;
  }

  .image-container1 {
    margin-right: 10px; 
    width: 300px; 
    height: 225px; 
  }
  
  .image-container:last-child {
    margin-right: 0; 
  }

  .image-slider{
    border-color: #007bff;
    border-width: 2px;
  }
  